#img {
   margin: 5px 10px;
}

expander #img {
   margin: 3px 6px 3px 0;
}

expander list #img {
   margin: 3px 10px;
}

#input {
   border: 2px solid #33ccff;
   background: linear-gradient(90deg, rgba(33, 33, 33, 0.96), rgba(15, 55, 84, 0.92));
   margin: 5px;
   border-radius: 20px;
   color: #e0e0e0;
}

#window {
   border: 2px dashed #33ccff;
   border-radius: 20px;
   font-size: 20px;
   background-color: rgba(33, 33, 33, 0.88);
   color: #e0e0e0;
   margin:5px;
}

#entry:selected{
	background-color: rgba(15, 55, 84, 0.92);
	background: linear-gradient(90deg, #33ccff, #00ff99);
}


#inner-box{
	border:2px;
	margin:2px;
}

#scroll{
	background: linear-gradient(rgba(15, 55, 84, 0.82), rgba(33, 33, 33, 0.35));
	border-radius: 15px;
	border:5px;
	margin:5px;
}

#outer-box{
	background-color: rgba(33, 33, 33, 0.12);
	border-radius: 15px;
	margin:10px;
}

#text:selected{
	color: #212121;
}
